#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ram-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ram-box {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ram-box img {
  width: 8rem;
}